<div class="text-group question">
  <%= @question %>
  <p><em>-You</em></p>
</div>

<div class="text-group answer">
  <strong><%= @answer %></strong>
  <p><em>-Coach</em></p>
</div>



<%= link_to 'Ask a new question', root_path %>
