<form action="/answer" method="get" class="input-group">
  <input type="text" name="question" placeholder="Ask your coach anything" class="form-control">
  <div class="input-group-append">
    <input type="submit" class="btn btn-primary" value="Ask">
  </div>
</form>
