// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;

body {
 background: $gray; // Using this variable
}

.banner {
 background: red;
 h1 {
   font-size: 50px;
 }
}

a {
  color: grey;
  &:hover {
    color: black;
  }
}



.answer {
  background-color: #FEFFE0;

}
.text-group {
  padding: 8px 16px;
  margin: 0;
  border-left: 8px solid #DDDDDD;
  margin: 16px;
}

.text-group p {
   margin: 0;
 }

